<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventPt">
 <insert id="insertEvent" parameterType="ep">
  	insert into event_pt values
  	(ep_seq.nextval,#{evNo},#{memberId})
  </insert>
  
  
  <select id="eventCount" resultType="int">
  	select count(*) from event where ev_no = #{evNo};
  </select>
  
   <select id="allEventCount" parameterType="e"  resultType="int">
  	select count(*) from event_pt where ev_no = #{evNo}
  </select>
	
<select id="selectEvent" parameterType="ep" resultType="ep">
  	select 
  		ep_no as epNo,
		ev_no as evNo,
		member_id as memberId
  	from event_pt where member_id=#{memberId} and ev_no=#{evNo}
  
  </select>
</mapper>
